style 
    include ../../assets/sass/post-temp.scss

div.date
div.post-title Binnah Choi 


script.
    const date = document.querySelector('.date');
    date.innerHTML = new Date().toLocaleDateString();
