doctype html
html(lang="en")
    head
        title Document
        style 
            include ../assets/sass/main.scss
    body 
        include nav.pug
        div.content-box
            div.sub-title Some short version of your information
        include ./component/postTemplate.pug
