nav.navbar
    div.container
        a(href="/light-me-up/app/docs/views/").navbar-brand  Binnah Choi
            div.navbar-nav
                a(aria-current="page" href="/light-me-up/app/docs/views/").nav-link.active Home
                a(href="/light-me-up/app/docs/views/about").nav-link About
                a(href="/light-me-up/app/docs/views/publication").nav-link Publications
