nav.navbar
    div.container
        a(href="/").navbar-brand  Binnah Choi
            div.navbar-nav
                a(aria-current="page" href="/").nav-link.active Home
                a(href="/about").nav-link About
                a(href="/publication").nav-link Publications
