nav.navbar
    div.container
        a(href="/").navbar-brand  Binnah Choi
            div.navbar-nav
                a(aria-current="page" href="/app/docs/views").nav-link.active Home
                a(href="/app/docs/views/about").nav-link About
                a(href="/app/docs/views/publication").nav-link Publications
